stages:
  - test

"Autonoma bank":
  stage: test
  image: axlscld/autonoma-runner:1.1.0
  variables:
    ITEM_ID: "cmbsjlcec00j806010iaw716y"
    ITEM_TYPE: "folder"
    MAX_WAIT_TIME: "10"
    APP_VERSIONS: |
      - application-id: 'cma1gj6w800mexs01n1g1yjak'  # v0-mercury-bank-webapp.vercel.app
        version-id: 'cmeww6jtv001z5g01xyczbx2s'
    BLOCKING: "false"
  script:
    - |
      /autonoma/wrapper-run-test.sh \
        "$ITEM_ID" \
        "$MAX_WAIT_TIME" \
        "$AUTONOMA_CLIENT_ID" \
        "$AUTONOMA_CLIENT_SECRET" \
        "$ITEM_TYPE" \
        "$APP_VERSIONS" \
        "$BLOCKING"
  when: always
