name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  run-folder-cmj27hg4s00087z01kh44brwg:
    runs-on: ubuntu-latest
    name: Autonoma Test "Tests"
    steps:
      - name: Run Folder Tests "Tests"
        id: step-1
        uses: autonoma-ai/actions/folder-runner@v1.1
        with:
          folder-id: 'cmj27hg4s00087z01kh44brwg'
          application-versions: |
            - application-id: 'cmhe4i6na00254n01vfkj7ysb'  # Mercor Work
              version-id: 'cmj0qcm8r002b8601xhxfwjl4'
            - application-id: 'cmhjtd4d600d88x01jkleltcp'  # Mercor Team
              version-id: 'cmhjtd4dh00da8x01dyjlvkr1'
          client-id: ${{ secrets.AUTONOMA_CLIENT_ID }}
          client-secret: ${{ secrets.AUTONOMA_CLIENT_SECRET }}
          blocking: false # Non-blocking by default
          max-wait-time: '10' # Timeout for blocking scenario
          
      - name: Show "Tests" results
        if: always()
        run: |
          echo "Test status: ${{ steps.step-1.outputs.final-status }}"
          echo "Message: ${{ steps.step-1.outputs.message }}"
          echo "View results at: ${{ steps.step-1.outputs.url }}"
