name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  run-tag-tag-cmgicx0hp008n6x01u08c6rz6:
    runs-on: ubuntu-latest
    name: Autonoma Test "regression"
 
    steps:
      - name: Run Tag Tests "regression"
        id: step-1
        uses: autonoma-ai/actions/tag-runner@v1.3
        with:
          tag-id: 'cmgicx0hp008n6x01u08c6rz6'
          application-versions: |
            - application-id: 'cm9r9bpt90001wh01tia8uiac'  # Pixlr
              version-id: 'cm9r9bpts0003wh015ddiflx9'
            - application-id: 'cmgicxtc7008r1r01iqx51ou6'  # Autonoma Landing
              version-id: 'cmgicxtch008t1r01m1wtum6r'
          client-id: ${{ secrets.AUTONOMA_CLIENT_ID }}
          client-secret: ${{ secrets.AUTONOMA_CLIENT_SECRET }}
          blocking: false # Non-blocking by default
          max-wait-time: '10' # Timeout for blocking scenario
          
      - name: Show "regression" results
        if: always()
        run: |
          echo "Test status: ${{ steps.step-1.outputs.final-status }}"
          echo "Message: ${{ steps.step-1.outputs.message }}"
          echo "View results at: ${{ steps.step-1.outputs.url }}"

  run-folder-cmbsjlcec00j806010iaw716y:
    runs-on: ubuntu-latest
    name: Autonoma Test "Autonoma bank"
 
    steps:
      - name: Run Folder Tests "Autonoma bank"
        id: step-2
        uses: autonoma-ai/actions/folder-runner@v1.3
        with:
          folder-id: 'cmbsjlcec00j806010iaw716y'
          application-versions: |
            - application-id: 'cma1gj6w800mexs01n1g1yjak'  # v0-mercury-bank-webapp.vercel.app
              version-id: 'cmeww6jtv001z5g01xyczbx2s'
          client-id: ${{ secrets.AUTONOMA_CLIENT_ID }}
          client-secret: ${{ secrets.AUTONOMA_CLIENT_SECRET }}
          blocking: false # Non-blocking by default
          max-wait-time: '10' # Timeout for blocking scenario
          
      - name: Show "Autonoma bank" results
        if: always()
        run: |
          echo "Test status: ${{ steps.step-2.outputs.final-status }}"
          echo "Message: ${{ steps.step-2.outputs.message }}"
          echo "View results at: ${{ steps.step-2.outputs.url }}"
